body{
 padding-top: 50px;
  position: relative;
}
.glyphicon-sunglasses	{
    font-size: 30px;
  color:white;
}

.carousel{
    background: #c5c5c5;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    max-height: 400px;
    min-height: 400px;
    padding: 100px;
}
.bs-example{
  margin: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-height: 225px;
}

HR{
  border: :solid 2px black;
 }
#dp{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  width:300px;
}
.img-responsive {
    margin: 0 auto;
}

#about{
  margin-left:200px;
  margin-right:200px;
  font-family:Alegreya Sans;
}


img{
  width:60%;
}

#showcase{
  background-color: #151515;
}

footer {
  color: #FFFFFF;
  background-color: #050505;
  text-align:center;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.42;
  border-radius: 100%;
}

#but{
	width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.42;
  border-radius: 100%;
  
}

#ico{
  vertical-align: middle;
  line-height: 1.5;
}
.btn-default:hover {
  background-color:#252525;
}
.btn-default:hover >  .fa{
    color: white;
 }
textarea,input{
  width:500px;
}
label{
  top-padding: 50px;
  bottom-padding: 50px;
}
#ct{
  display: table-cell;
    vertical-align: middle;
    padding: 60px;
}
.box:hover { -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 50px Green; 
}